<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= title %></title>  
  <meta property="og:url" content= "<%= @url %>" >
  <meta property="og:content" content=" <%= title %> " >
  <meta property="og:image" content="/images/fb_icon.jpg"> 
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  
</head>  
<body>  
  
	<%= url %>
    <%= yield %>  
  </div>  
  
  <footer>  
  </footer>  
</body>  
</html>  